body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 450;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#overlay-logo {
    width: 50%; /* Adjust size as needed */
}

#overlay.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none; /* Ensure the overlay is non-interactive */
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px; /* Adjust the height as needed */
}

.logo {
    transition: 0.75s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 2vw; /* Adjust the right margin as needed */
    height: 24px; /* Adjust height as needed */
    width: 2vw;
    z-index: 1002; /* Ensure the menu-icon is above the vertical menu */
}

.bar-1, .bar-2, .bar-3 {
    width: 100%;
    height: 3px;
    background-color: lightgrey;
    transition: background-color 0.3s ease;
    transition: 0.5s;
}

/* Rotate first bar */
.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
    margin-top: -1px;
  }
  
/* Fade out the second bar */
.change .bar-2 {opacity: 0;}
  
/* Rotate last bar */
.change .bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-icon:hover .bar {
    background-color: lightgray; /* Change color on hover */
}

.vertical-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    padding-top: 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; /* Ensure the vertical-menu is above other content */
}

.vertical-menu.show {
    display: flex;
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.vertical-menu ul {
    list-style-type: none;
    padding: 0;
}

.vertical-menu li {
    margin: 20px 0;
}

.vertical-menu a {
    color: lightgrey;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-bottom: 1px solid black;
}

#section1 {
    background-image: url(/images/Section1-bg.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


#s1-p1 {
    color: rgba(211,211,211,1);
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

#s1-p2-1 {
    text-align: center;
    margin-top: 10vh;
}

#s1-p2-2 {
    color: lightgrey;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

#s1-p2-2:hover {
    font-size: 1.8em;
}

#s2-top {
    display: flex;

}

#s2-topic1, #s2-topic2, #s2-topic3 {
    padding: 10px;
    max-width: 20vw;
    max-height: 20vh;
    justify-content: center;
    align-content: center;
}

#gif1-1, #gif2-1, #gif3-1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

#text1, #text2, #text3 {
    text-align: center;
    font-weight: bold;
}

#gif1-2, #gif2-2, #gif3-2 {
    height: 100px;
    width: 100px;
}

footer {
    background-color: black;
    color: lightgrey;
    padding: 40px 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: lightgrey;
    text-decoration: none;
    font-size: 18px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

